<%- include("partials/header") %>

   <div class="container vh-100 d-flex justify-content-center align-items-center">

    <div class="card bg-dark text-white text-center">

        <div class="card-header">
            <h4>Ingresar productos</h4>
        </div>
        <div class="card-body">
            <form action="">
                <label for="text"></label>
                <input type="text" placeholder="Ingresar nombre">

                <label for="email"></label>
                <input type="email" placeholder="Ingresar precio">

                <label for="email"></label>
                <input type="email" placeholder="Ingresar  URL">

                <button class="btn btn-danger">
                    Agregar Producto
                </button>
            </form>
        </div>

    </div>

   </div> 

   
<%- include("partials/footer") %>